/*
General Design Basics
*/

@font-face{
	font-family: 'Open Sans';
	src: url(OpenSans/OpenSans-Regular.ttf);
}
/*
@font-face{
	font-family: 'Open Sans';
	font-weight: 300;
	src: url(OpenSans/OpenSans-Light.ttf);
}*/

@font-face{
	font-family: 'Open Sans';
	font-weight: 600;
	src: url(OpenSans/OpenSans-SemiBold.ttf);
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
}


/* Analysis status badge */
.don {
	/* This badge can be hidden, because no attention needs to be drawn to done tasks. */
	display: none;
}

.button-icon {
	width: 16px;
	height: auto;
}

/* Overriding the django-autocmplete-light rendering */

.select2-container {
	width: 100% !important;
}

.select2-dropdown,
.select2-container--default .select2-selection--multiple {
	background-color: #fff !important;
	border: 1px solid #ced4da !important;
	/*border-radius: .25rem !important;*/
}